<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucascarvalho.adopet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Apresentacao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AnimalList"
            android:label="Animal List"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AnimalView" />
        <activity android:name=".Apresentacao2" />
        <activity android:name=".Apresentacao3" />
        <activity android:name=".loginregister.activities.LoginActivity" />
        <activity android:name=".loginregister.activities.RegisterActivity" />
        <activity android:name=".loginregister.activities.UsersListActivity" />
        <activity android:name=".Redireciona" />
        <activity
            android:name=".UserAnimalList"
            android:label="@string/title_activity_user_animal_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdvancedSearch" />
        <activity
            android:name=".Sobre"
            android:label="@string/title_activity_sobre"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>